<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">

	<menuitem title="GST" name="gst-root" if="__config__.app.isApp('gst')"
		icon="fa-file-text-o" icon-background="#99B721" />

	<menuitem title="Dashboard" name="gst-root-dashboard" parent="gst-root" />
	<menuitem title="Dashboard" name="gst-root-dashboard-dashboard"
		parent="gst-root-dashboard" action="gst.root.dashboard.dashboard" />
	<action-view name="gst.root.dashboard.dashboard" title="Dashboard">
		<view type="dashboard" name="gst-dashboard" />
	</action-view>


	<menuitem title="Partner" name="gst-root-partner" parent="gst-root" />
	<menuitem title="Partner" name="gst-root-partner-partner"
		parent="gst-root-partner" action="gst.root.partner.partner" />
	<action-view name="gst.root.partner.partner" title="Partner"
		model="com.axelor.apps.base.db.Partner">
		<view type="grid" name="partner-grid" />
		<view type="form" name="gst-partner-form" />
		<view type="cards" name="partner-cards" />
		<domain>self.isContact != true</domain>
		<context name="json-enhance" expr="true" />
	</action-view>
	<menuitem title="Contact" name="gst-root-partner-contact"
		parent="gst-root-partner" action="gst.root.partner.contact" />
	<action-view name="gst.root.partner.contact" title="Contacts"
		model="com.axelor.apps.base.db.Partner">
		<view type="cards" name="partner-contact-cards" />
		<view type="grid" name="partner-contact-grid" />
		<view type="form" name="partner-contact-form" />
		<view-param name="limit" value="39" />
		<domain>self.isContact = true</domain>
		<context name="_domain" expr="self.isContact = true" />
	</action-view>
	<menuitem title="Configurations" name="gst-root-partner-configurations"
		parent="gst-root-partner" />
	<menuitem title="Address" name="gst-root-partner-configurations-address"
		parent="gst-root-partner-configurations" action="gst.root.partner.configurations.address" />
	<action-view name="gst.root.partner.configurations.address"
		title="Address" model="com.axelor.apps.base.db.Address">
		<view type="grid" name="address-grid" />
		<view type="form" name="gst-address-form" />
	</action-view>
	<menuitem title="City" name="gst-root-partner-configurations-city"
		parent="gst-root-partner-configurations" action="gst.root.partner.configurations.city" />
	<action-view name="gst.root.partner.configurations.city"
		title="City" model="com.axelor.apps.base.db.City">
		<view type="grid" name="city-grid" />
		<view type="form" name="gst-city-form" />
	</action-view>
	<menuitem title="State" name="gst-root-partner-configurations-state"
		parent="gst-root-partner-configurations" action="gst.root.partner.configurations.state" />
	<action-view name="gst.root.partner.configurations.state"
		title="State" model="com.axelor.apps.gst.db.State">
		<view type="grid" name="state-grid" />
		<view type="form" name="state-form" />
	</action-view>
	<menuitem title="Country" name="gst-root-partner-configurations-country"
		parent="gst-root-partner-configurations" action="gst.root.partner.configurations.country" />
	<action-view name="gst.root.partner.configurations.country"
		title="Country" model="com.axelor.apps.base.db.Country">
		<view type="grid" name="country-grid" />
		<view type="form" name="country-form" />
	</action-view>


	<menuitem title="Product" name="gst-root-product" parent="gst-root" />
	<menuitem title="Product" name="gst-root-product-product"
		parent="gst-root-product" action="gst.root.product.product" />
	<action-view name="gst.root.product.product" title="Product"
		model="com.axelor.apps.base.db.Product">
		<view type="grid" name="gst-product-grid" />
		<view type="form" name="gst-product-form" />
		<view type="cards" name="product-cards" />
		<context name="json-enhance" expr="true" />
	</action-view>
	<menuitem title="Product Categories" name="gst-root-product-product-category"
		parent="gst-root-product" action="gst.root.product.product.category" />
	<action-view name="gst.root.product.product.category"
		title="Product Categories" model="com.axelor.apps.base.db.ProductCategory">
		<view type="grid" name="productCategory-grid" />
		<view type="form" name="gst-productCategory-form" />
	</action-view>



	<menuitem title="Invoice " name="gst-root-invoice" parent="gst-root" />
	<menuitem title="Create Invoice" name="gst-root-invoice-create-invoice"
		parent="gst-root-invoice" action="gst.root.invoice.invoice.create" />
	<action-view name="gst.root.invoice.invoice.create" title="Create Invoice"
		model="com.axelor.apps.account.db.Invoice">
		<view type="form" name="gst-invoice-form" />
		<context name="json-enhance" expr="true" />
		<context name="_operationTypeSelect" expr="eval:3" />
		<context name="todayDate" expr="eval:__config__.app.getTodayDate()" />
	</action-view>

	<menuitem title="Draft Invoices" name="gst-root-nvoice-draft-invoice"
		parent="gst-root-invoice" action="gst.root.nvoice.draft.invoice" icon="fa-file" />
	<action-view name="gst.root.nvoice.draft.invoice" title="Draft Invoices"
		model="com.axelor.apps.account.db.Invoice">
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
		<view type="kanban" name="invoice-kanban" />
		<domain>self.statusSelect = 1</domain>
		<context name="json-enhance" expr="true" />
		<context name="_operationTypeSelect" expr="eval:3" />
		<context name="todayDate" expr="eval:__config__.app.getTodayDate()" />
	</action-view>
	<menuitem title="Validated Invoices" name="gst-root-invoice-validated-invoice"
		parent="gst-root-invoice" action="gst.root.invoice.validated.invoice"
		icon="fa-file-text-o" />
	<action-view name="gst.root.invoice.validated.invoice"
		title="Validated Invoices" model="com.axelor.apps.account.db.Invoice">
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
		<view type="kanban" name="invoice-kanban" />
		<domain>self.statusSelect = 2</domain>
		<context name="json-enhance" expr="true" />
		<context name="_operationTypeSelect" expr="eval:3" />
		<context name="todayDate" expr="eval:__config__.app.getTodayDate()" />
	</action-view>
	<menuitem title="Ventilated Invoices" name="gst-root-invoice-paid-invoice"
		parent="gst-root-invoice" action="gst.root.invoice.paid.invoice" icon="fa-file" />
	<action-view name="gst.root.invoice.paid.invoice" title="Paid Invoices"
		model="com.axelor.apps.account.db.Invoice">
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
		<view type="kanban" name="invoice-kanban" />
		<domain>self.statusSelect = 3</domain>
		<context name="json-enhance" expr="true" />
		<context name="_operationTypeSelect" expr="eval:3" />
		<context name="todayDate" expr="eval:__config__.app.getTodayDate()" />
	</action-view>
	<menuitem title="Cancelled Invoices" name="gst-root-invoice-cancelled-invoice"
		parent="gst-root-invoice" action="gst.root.invoice.cancelled.invoice"
		icon="fa-minus-square" />
	<action-view name="gst.root.invoice.cancelled.invoice"
		title="Cancelled Invoices" model="com.axelor.apps.account.db.Invoice">
		<view type="grid" name="invoice-grid" />
		<view type="form" name="invoice-form" />
		<view type="kanban" name="invoice-kanban" />
		<domain>self.statusSelect = 4</domain>
		<context name="json-enhance" expr="true" />
		<context name="_operationTypeSelect" expr="eval:3" />
		<context name="todayDate" expr="eval:__config__.app.getTodayDate()" />
	</action-view>

	<menuitem title="All Invoices" name="gst-root-invoice-all"
		parent="gst-root-invoice" action="gst.root.invoice.all" />
	<action-view name="gst.root.invoice.all" title="Invoice"
		model="com.axelor.apps.account.db.Invoice">
		<view type="grid" name="invoice-grid" />
		<view type="form" name="gst-invoice-form" />
		<view type="kanban" name="invoice-kanban" />
		<context name="json-enhance" expr="true" />
		<context name="_operationTypeSelect" expr="eval:3" />
		<context name="todayDate" expr="eval:__config__.app.getTodayDate()" />
	</action-view>

	<menuitem title="Company" name="gst-root-company" parent="gst-root" />
	<menuitem title="Company" name="gst-root-company-company"
		parent="gst-root-company" action="gst.root.company.company" />
	<action-view name="gst.root.company.company" title="Company"
		model="com.axelor.apps.base.db.Company">
		<view type="grid" name="company-grid" />
		<view type="form" name="gst-company-form" />
	</action-view>
	<menuitem title="Bank Account" name="gst-root-company-bank"
		parent="gst-root-company" action="gst.root.company.bank" />
	<action-view name="gst.root.company.bank" title="Bank Account"
		model="com.axelor.apps.base.db.Bank">
		<view type="grid" name="bank-grid" />
		<view type="form" name="bank-form" />
	</action-view>
	<menuitem title="Sequence" name="gst-root-company-sequence"
		action="gst.root.company.sequence" parent="gst-root-company" />
	<action-view name="gst.root.company.sequence" title="Sequence"
		model="com.axelor.apps.base.db.Sequence">
		<view type="grid" name="sequence-grid" />
		<view type="form" name="sequence-form" />
	</action-view>

</object-views>